body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin-top: auto;
}

input[type="number"] {
    text-align: right;
}

.fixed-width{
    width: 6rem;
}